{% extends "auctions/layout.html" %}

{% block body %}
<div>

    <h2>{{listing.title}}</h2>
    <p>By: {{listing.user}}</p>

    <img src="{{listing.image_url}}" class="card-img-top" alt="{{listing.title}}" style="max-width: 400px;">
    <p>{{listing.description}}</p>
</div>


{% if listing.active == False %}
    <div>
        <p>This listing is closed.</p>
    </div>
{% else %}
    <div>
        <p>Category: {{listing.category}}</p>
        <p>Starting Bid: ${{listing.starting_bid}}</p>
    </div>
{% endif %}

<div>

{% if user.is_authenticated and user.username == listing.user.username %}
    <a href="{% url 'listing_edit' listing.id %}" class="btn btn-primary">Edit Listing</a>
    {% if listing.active %}
        <a href="{% url 'listing_toggle_active' listing.id %}" class="btn btn-primary">Deactivate Listing</a>
    {% else %}
        <a href="{% url 'listing_toggle_active' listing.id %}" class="btn btn-primary">Activate Listing</a>
    {% endif %}
{% else %}
    
    {% if watch %}
            <a href="{% url 'watchlist_toggle' listing.id %}" class="btn btn-primary">Add to Watchlist</a>
    {% else %}
            <a href="{% url 'watchlist_toggle' listing.id %}" class="btn btn-primary">Remove from Watchlist</a>
    {% endif %}
    
{% endif %}

</div>

<br>

{% if user.is_authenticated %}
    {% if message %}
    <div>
        <p>{{message}}</p>
    </div>
    {% endif %}
    {% if current_bid %}
    <div>
        <p>Current bid: ${{current_bid}}</p>
    </div>
    {% else %}
    <div>
        <p>No bids yet, starting bid {{listing.starting_bid}}</p>
    </div>
    {% endif %}
    <form action="{% url 'bid_create' listing.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="number" name="bid" placeholder="Place a bid" min="1">
        </div>
        <input class="btn btn-primary" type="submit" value="Place Bid">
    </form>
    <br>
    <div>
        <h3>Comments</h3>
        <form action="{% url 'comment_create' listing.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" name="comment" placeholder="Add a comment"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Add Comment">
        </form>
        <br>
        {% for comment in comments %}
            <div>
                <p>{{comment.comment}}</p>
                <p>By: {{comment.user}}</p>
                <p>On: {{comment.created}}</p>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div>
        <p>You must be logged in to place a bid. <a href="{% url 'user_login' %}">Log In here.</a></p>
     <br>
    Don't have an account? <a href="{% url 'user_register' %}">Register here.</a><br>
    </div>
{% endif %}

{% endblock %}